{% extends "AppTickets/inicio.html" %}
{% load static %}
{% block contenidoQueCambia %}
<body>

    
<div class="textoAbout">
<p>
    ¡Bienvenidos a Clubes Históricos Argentinos!

    En Clubes Históricos Argentinos, fusionamos nuestra pasión por el fútbol y nuestra expertise en Python y Django para crear una plataforma interactiva donde puedes explorar la rica historia de los clubes legendarios de Argentina. Pero eso no es todo: también te brindamos la oportunidad de ser parte de esta comunidad y compartir tus conocimientos.

    Nuestros archivos exhaustivos te permiten sumergirte en los momentos emblemáticos, los jugadores icónicos y los logros destacados que han dejado una huella en la historia del fútbol argentino. Y si eres un apasionado de los clubes históricos y tienes información valiosa para compartir, ¡puedes contribuir directamente a nuestro sitio! Carga información sobre clubes que conozcas y ayúdanos a enriquecer aún más nuestra base de datos.
</p>
<p>
    Soy Juan José Alcorta, un ingeniero en telecomunicaciones de 40 años. Me encanta enfrentar nuevos retos y tener la oportunidad de aprender de forma continua.
    Me estoy sumergiendo en el mundo de la programación, comenzando a aprender Python para expandir mis habilidades y descubrir nuevas formas de aplicar la tecnología.
</p>
</div>    
</body>
{%endblock%}