
    {% extends "AppTickets/inicio.html" %}
    {% load static %}
    <p> "Listado de Clubes"</p>   
    {% block contenidoQueCambia %}   
    <table class="tablaClubes">
        <tr id="tituloListadoClubes">
            <th style="width: 100px; text-align: center;">Club</th>
            <th style="width: 200px; text-align: center;">Estadio</th>
            <th></th>
            <th style="width: 100px; text-align: center;"></th>

            
        </tr>
        
        {%for club in clubes%}
        <tr>
            <td style="color: white; text-align: center;"> {{club.nombreClub}}</td>
            <td style="color: white; text-align: center;">{{club.nombreEstadio}}</td>
            <!--<td style="color: black">{{club.direccionEstadio}}</td>
            <td style="color: black">{{club.capacidadEstadio}}</td>
            <td style="color: black">{{club.timestamp}}</td>
            <td style="color: black">{{club.historia}}</td>-->
            <td><img width= "300px" src=../../../media/{{club.fotoEstadio}}/></td>
            <td style="color: white; text-align: center;"><a href="/AppTickets/detalleClub/{{club.id}}">Más Info</a></td>
            {% if user.is_superuser or user.username == club.autorNombre %}
            
            <td><button class="btn btn-warning btnEditar"><a href="{% url 'editarClub' club.id %}">Editar</a></button></td>
            <td><button class="btn btn-danger btnEliminar"><a href="{% url 'eliminarClub' club.id %}">X</a></button></td>
            {%endif%}

        </tr>             

        {%endfor%}
            
    </table>
    {%endblock%}

