<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'AppTickets/css/bootstrap.min.css'%}" rel="stylesheet"/>
    <link href="{% static 'AppTickets/css/appTicketsStyle.css'%}" rel="stylesheet"/>    
    <script src="{% static 'AppTickets/js/bootstrap.min.js'%}"></script>
    <title>Clubes Argentinos</title>
    
</head>
<body>
    <div class="containerForm"> 
        
            <h3 style="background-color: blue; color: white; font-weight:bold; margin-bottom: 30px; display: flex; justify-content: center; align-items: center;">TE ESPERAMOS PRONTO</h3>


            <p style="background-color: rgb(1, 1, 10); color: white;">Quieres volver a ingresar? <a href="/AppTickets/login">Iniciar sesion</a></p>
            
        
    </div>
    
</body>
</html>