<div>
    {% extends "AppTickets/inicio.html" %}
    {% load static %}
    
        {% block contenidoQueCambia %}        
        <table class="table">
            <tr id="tituloListadoClubes">
                <th style="color: white">Local</th>
                <th style="color: white">Visitante</th>
                <th style="color: white">Día</th>
                <th style="color: white">Hora</th>

                
            </tr>
            
        {%for partido in partidos%}
        <tr>
            <td style="color: white"> {{partido.equipoLocal}}</td>
            <td style="color: white">{{partido.equipoVisitante}}</td>
            <td style="color: white">{{partido.fechaPartido}}</td>
            <td style="color: white">{{partido.horarioPartido}}</td>
        </tr>
                
        {%endfor%}
            
        </table>

    
        {% endblock %}
</div>